<div class="container" style="margin-top: 6em">

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" #email>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" #pwd>
  </div>
  <button type="submit" class="btn btn-primary" (click)="login(email.value, pwd.value)">Submit</button>

</div>
