<nav class="navbar navbar-expand-lg" style="background: rgb(48, 110, 226); box-shadow: 0px 0px 20px 5px black; height: 4.1em; color: white">
  <a class="navbar-brand">Angular</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"></a>
      </li>
    </ul>
    <button class="btn btn-success" type="button">
      <a style="color: white" routerLink="login">Login</a>
    </button>
    <button class="btn btn-warning" style="margin-left: 1em" type="button">
      <a style="color: white" routerLink="signup">Sign Up</a>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
