input {
  transition: all 0.5s ease-in-out;
}

input:FOCUS {
  box-shadow: 0 0 0 0 white;
}

.ng-valid[required], .ng-valid.required  {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid green;
  color: green;
}

.ng-invalid:not(form)  {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid red;
  color: red;
}
