<div class="container" style="margin-top: 5em;">
  <form [formGroup]="signUpForm" (ngSubmit)="register()">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" formControlName="name" required>
      <span style="color: red; font-size: 3em" *ngIf="!signUpForm.get('name').valid">Something is wrong!!</span>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" value="himanshu.monat@xoriant.com" formControlName="email" required>
    </div>
    <div class="form-group">
      <label>Age:</label>
      <input type="number" min="18" max="80" class="form-control" value=22 formControlName="age" required>
    </div>
    <div class="form-group">
      <label>Contact:</label>
      <input type="number" maxlength=10 class="form-control" value=77478985333 formControlName="contact"
        required>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" value="0000" formControlName="pwd" required>
    </div>
    <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">Sign Up</button>
  </form>
</div>

<!-- <p>Form Status: {{ signUpForm.status }}</p> -->
