<div class="container-fluid" style="padding: 1%; background: #2d2d2d; box-shadow: 0 0 15px 3px black">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="attendance">Attendance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="attendance">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="attendance">Maintainence</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link active" (click)="logout()">Logout</a>
    </li>
  </ul>
</div>

<div class="container" style="margin-top: 5em">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Contact</th>
        <th>Password</th>
      </tr>
    </thead>

    <tbody id="tabBody">

    </tbody>
  </table>

</div>
